@page "/viewrecipe/{recipeId:guid}"

@using FamilyRecipes.WebApp.Data
@inject RecipeService RecipeService

@if (_recipe is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>recipe id : @RecipeId</p>

    <h1>@_recipe.Name</h1>

    <p><em>@_recipe.Description</em></p>

    <h2>Ingredients</h2>

    <table class="table table-borderless table-hover caption-top">
        <caption>all ingredients in this recipe</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quantity</th>
                <th scope="col">Name</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

    <h3>Directions</h3>

    <p>maybe an image for each step?</p>
    <img src="..." class="img-fluid" alt="...">

    <p>Section for each step able to check off</p>
    <ul class="list-group">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            First checkbox
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Second checkbox
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Third checkbox
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Fourth checkbox
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Fifth checkbox
        </li>
    </ul>

    <p>special tooltips for things if needed</p>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Tooltip with HTML
    </button>
}

@code {
    [Parameter]
    public Guid RecipeId { get; set; }

    private RecipeModel? _recipe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _recipe = await RecipeService.GetRecipeByID(RecipeId.ToString());
        StateHasChanged();
    }
}